/* screen - automobile */

.automobile {
  background-color: var(--white);
  border: 1px none;
  height: 4476px;
  overflow: hidden;
  position: relative;
  width: 1440px;
}

.automobile .overlap-group5 {
  height: 357px;
  left: -67px;
  position: absolute;
  top: 4119px;
  width: 1669px;
}

.automobile .rectangle-21 {
  background-color: var(--torea-bay);
  height: 308px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1669px;
}

.automobile .mld-mecanic {
  left: 183px;
  letter-spacing: 3.96px;
  line-height: 29px;
  position: absolute;
  top: 31px;
  white-space: nowrap;
}

.automobile .phone {
  left: 1229px;
  letter-spacing: 1.80px;
  line-height: 29px;
  position: absolute;
  top: 85px;
  white-space: nowrap;
}

.automobile .mldmecaniccom {
  left: 1230px;
  letter-spacing: 1.80px;
  line-height: 29px;
  position: absolute;
  top: 126px;
  white-space: nowrap;
}

.automobile .dakar-hlm-4 {
  left: 1229px;
  letter-spacing: 1.80px;
  line-height: 29px;
  position: absolute;
  top: 164px;
  white-space: nowrap;
}

.automobile .mcanique-auto {
  left: 708px;
  letter-spacing: 3.00px;
  line-height: 29px;
  position: absolute;
  top: 28px;
  white-space: nowrap;
}

.automobile .place {
  left: 1199px;
  letter-spacing: 3.00px;
  line-height: 29px;
  position: absolute;
  top: 28px;
  white-space: nowrap;
}

.automobile .la-prservation-de-l {
  left: 154px;
  letter-spacing: 1.80px;
  line-height: 29px;
  position: absolute;
  top: 83px;
  width: 394px;
}

.automobile .dcouvrez-tout-ce-qu {
  left: 692px;
  letter-spacing: 1.80px;
  line-height: 29px;
  position: absolute;
  top: 83px;
  width: 394px;
}

.automobile .rectangle-22 {
  background-color: var(--arapawa);
  height: 104px;
  left: 67px;
  position: absolute;
  top: 253px;
  width: 1519px;
}

.automobile .icon-location_pin {
  top: 164px;
}

.automobile .icon-mail {
  top: 126px;
}

.automobile .icon-call {
  top: 85px;
}

.automobile .copyright-2010-202 {
  left: 402px;
  letter-spacing: 2.40px;
  line-height: 29px;
  position: absolute;
  top: 284px;
  white-space: nowrap;
}

.automobile .overlap-group8 {
  height: 1012px;
  left: -78px;
  position: absolute;
  top: 124px;
  width: 1640px;
}

.automobile .car-being-taking-care-workshop-1 {
  height: 936px;
  left: 78px;
  object-fit: cover;
  position: absolute;
  top: 22px;
  width: 1440px;
}

.automobile .rectangle-24 {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.78) 0%, rgba(255, 255, 255, 0) 55.18%);
  height: 996px;
  left: 5px;
  position: absolute;
  top: 8px;
  transform: rotate(-179.43deg);
  width: 1631px;
}

.automobile .bienvenue-dans-lespace-automobile {
  left: 150px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 467px;
  width: 806px;
}

.automobile .line-5 {
  height: 6px;
  left: 150px;
  position: absolute;
  top: 640px;
  width: 92px;
}

.automobile .rectangle-29 {
  height: 261px;
  left: 64px;
  object-fit: cover;
  position: absolute;
  top: 2110px;
  width: 588px;
}

.automobile .rectangle-30 {
  height: 261px;
  left: 789px;
  object-fit: cover;
  position: absolute;
  top: 2110px;
  width: 588px;
}

.automobile .entre-les-rouleaux-d-1 {
  left: 63px;
  letter-spacing: 0;
  line-height: 36px;
  position: absolute;
  top: 2468px;
  width: 611px;
}

.automobile .span0 {
  text-decoration: underline;
}

.automobile .les-cls-permettent {
  left: 795px;
  letter-spacing: 0;
  line-height: 36px;
  position: absolute;
  top: 2468px;
  width: 611px;
}

.automobile .overlap-group7 {
  background-color: var(--blue);
  height: 60px;
  left: 64px;
  position: absolute;
  top: 2795px;
  width: 230px;
}

.automobile .lire-la-suite {
  left: 51px;
  letter-spacing: 0;
  line-height: 36px;
  position: absolute;
  top: 12px;
  white-space: nowrap;
}

.automobile .overlap-group6 {
  background-color: var(--blue);
  height: 60px;
  left: 795px;
  position: absolute;
  top: 2795px;
  width: 230px;
}

.automobile .group-28 {
  height: 745px;
  left: 62px;
  position: absolute;
  top: 1248px;
  width: 618px;
}

.automobile .rectangle {
  height: 261px;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 588px;
}

.automobile .entre-les-rouleaux-d {
  left: 0;
  letter-spacing: 0;
  line-height: 36px;
  position: absolute;
  top: 359px;
  width: 611px;
}

.automobile .overlap-group {
  background-color: var(--blue);
  height: 60px;
  left: 1px;
  position: absolute;
  top: 685px;
  width: 230px;
}

.automobile .lire-la-suite-1 {
  left: 51px;
  letter-spacing: 0;
  line-height: 36px;
  position: absolute;
  top: 13px;
  white-space: nowrap;
}

.automobile .surname {
  left: 1px;
  letter-spacing: 0;
  line-height: 36px;
  position: absolute;
  top: 305px;
  white-space: nowrap;
}

.automobile .achat-de-voiture-doccasion {
  left: 64px;
  letter-spacing: 0;
  line-height: 36px;
  position: absolute;
  top: 2414px;
  white-space: nowrap;
}

.automobile .group-32 {
  height: 745px;
  left: 64px;
  position: absolute;
  top: 2972px;
  width: 617px;
}

.automobile .location-de-voiture {
  left: 1px;
  letter-spacing: 0;
  line-height: 36px;
  position: absolute;
  top: 305px;
  white-space: nowrap;
}

.automobile .group-29 {
  height: 745px;
  left: 788px;
  position: absolute;
  top: 1248px;
  width: 668px;
}

.automobile .rectangle-1 {
  height: 261px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 588px;
}

.automobile .ent-container {
  height: 342px;
  left: 0;
  position: absolute;
  top: 305px;
  width: 662px;
}

.automobile .les-cls-permettent-1 {
  top: 54px;
}

.automobile .comment-refaire-une {
  left: 0;
  letter-spacing: 0;
  line-height: 36px;
  position: absolute;
  top: 0;
  width: 662px;
}

.automobile .overlap-group-1 {
  background-color: var(--blue);
  height: 60px;
  left: 6px;
  position: absolute;
  top: 685px;
  width: 230px;
}

.automobile .bien-choisir-son-suvc-lectrique {
  left: 789px;
  letter-spacing: 0;
  line-height: 36px;
  position: absolute;
  top: 2414px;
  white-space: nowrap;
  width: 662px;
}

.automobile .group-33 {
  height: 745px;
  left: 790px;
  position: absolute;
  top: 2972px;
  width: 668px;
}

.automobile .les-cls-permettent-2 {
  top: 353px;
}

.automobile .comment-faire-une-ce {
  left: 0;
  letter-spacing: 0;
  line-height: 36px;
  position: absolute;
  top: 305px;
  white-space: nowrap;
  width: 662px;
}

.automobile .rectangle-23 {
  background-color: var(--white);
  height: 146px;
  left: 0;
  position: fixed;
  top: 0;
  width: 1490px;
}

.automobile .group-1 {
  cursor: pointer;
  height: 30px;
  left: 676px;
  position: fixed;
  top: 60px;
  width: 601px;
}

.automobile .automobile-1 {
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
}

.automobile .mcanique-entretien {
  cursor: pointer;
  left: 209px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
}

.automobile .place-1 {
  cursor: pointer;
  left: 513px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
}

.automobile .x85-removebg-preview-1-1 {
  height: 266px;
  left: 34px;
  object-fit: cover;
  position: fixed;
  top: 0;
  width: 290px;
}

.automobile .icon {
  height: 30px;
  left: 1186px;
  position: absolute;
  width: 30px;
}

.automobile .les-cls-permettent-3 {
  left: 6px;
  letter-spacing: 0;
  line-height: 36px;
  position: absolute;
  width: 611px;
}
